/* stylelint-disable */

.service-info-section {
  $component-name: &;

  &__inner {

    @include media-breakpoint-down(lg) {
      margin-bottom: 60px;
    }

    display: flex;
    column-gap: 30px;
    margin-bottom: 136px;
  }

  &__left-wrap {
    flex-shrink: 0;
  }

  #{$component-name}__title {

    @include media-breakpoint-down(xxl) {
      margin-bottom: 50px;
    }

    @include adaptiv-value(font-size, 55, 30);
    @include adaptiv-value(line-height, 65, 40);

    margin-bottom: 30px;

    span {
      color: $color-main;
    }
  }

  &__right-wrap {
    padding-top: 20px;
  }

  &__price-and-list-wrap {

    @include media-breakpoint-down(xxl) {
      margin-top: 30px;
    }

    @include media-breakpoint-down(lg) {
      display: block;
      margin-top: 70px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price-and-period-wrap {

    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
    }

    text-align: center;
  }

  &__price-wrap {
    line-height: 65px;

    & span {
      display: inline-block;
    }

    & span:nth-child(1) {

      @include adaptiv-value(font-size, 31, 21);

      margin-right: 10px;
    }

    & span:nth-child(2) {

      @include adaptiv-value(font-size, 93, 50);
    }

    & span:nth-child(3) {

      @include media-breakpoint-down(sm) {
        left: 5px;
      }

      @include adaptiv-value(font-size, 97, 50);

      position: relative;
      top: -20px;
      left: 13px;
    }
  }

  &__period-wrap {

    @include adaptiv-value(font-size, 32, 22);

    color: $color-main;
    line-height: 65px;
  }

  &__list {

    @include adaptiv-value(font-size, 20, 15);

    @include media-breakpoint-down(sm) {
      line-height: 22px;
    }

    line-height: 65px;

    &-item {

      @include media-breakpoint-down(sm) {
        padding-left: 0;
        margin-bottom: 30px;
      }

      position: relative;
      padding-left: 36px;

      &::after {

        @include media-breakpoint-down(sm) {
          display: none;
        }

        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 19px;
        height: 19px;
        transform: translateY(-50%);
        background-image: url('../images/service-info-section__list-item-icon.png');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
