.service-faq-section {
  $component-name: &;

  margin-bottom: 100px;
  color: #fff;
  background-color: #000;

  &__inner {
    max-width: 1345px;
  }

  #{$component-name} &__title {

    @include adaptiv-value(font-size, 55, 33);
    @include adaptiv-value(line-height, 65, 38);

    @include media-breakpoint-down(md) {
      margin-bottom: 60px;
    }

    margin-bottom: 108px;
  }
}
