.about-section {
  background-image: url('../images/bg-about-section__left-wrap.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10px 280px;
}

.about-section__inner {

  @include media-breakpoint-down(lg) {
    display: block;
    position: relative;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-section__title {

  @include media-breakpoint-down(lg) {
    margin-bottom: 70px;
  }

  margin-bottom: 285px;
}

.about-section__left-wrap,
.about-section__right-wrap {

  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  width: 50%;
}

.about-section__left-wrap {
  position: relative;
}

.about-section__left-wrap::before {

  @include media-breakpoint-down(lg) {
    display: none;
  }

  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 27px;
  background-color: $color-main;
}

.about-section__left-wrap::after {

  @include media-breakpoint-down(lg) {
    display: none;
  }

  content: '';
  position: absolute;
  top: calc(100% - 49px);
  right: 0;
  width: 1px;
  height: 207px;
  background-color: rgba(0, 0, 0, 0.15);
}

.about-section__right-wrap {
  @include adaptiv-value(font-size, 16, 14);

  @include media-breakpoint-down(lg) {
    align-items: flex-start;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.about-section__right-list {

  @include media-breakpoint-down(lg) {
    margin-bottom: 70px;
    max-width: 450px;
  }

  max-width: 312px;
}

.about-section__right-list-item {

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }

  margin-bottom: 40px;
}

.about-section__right-list-item span {
  font-weight: 700;
}
