.who-we-are-section {

  &__inner {
    width: 100%;
    max-width: 1200px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 85px;
  }

  &__title {
    margin-right: 200px;
  }

  &__text {
    font-size: 40px;
    line-height: 40px;
  }

  &__description {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 70px;
    line-height: 85px;

    span {
      color: $color-main;
      font-weight: 300;
    }
  }
}
