.our-history-section {
  color: #fff;
  background: #000 url('../images/our-history-section__bg.png') no-repeat;
  background-position: center top;
  background-size: cover;

  &__inner {
    display: flex;
    column-gap: 110px;
  }

  &__left-wrap {
    max-width: 624px;
  }

  &__right-wrap {

    @include media-breakpoint-down(xl) {
      margin-bottom: 50px;
    }
  }

  &__title {

    @include media-breakpoint-down(xl) {
      margin-bottom: 50px;
    }

    margin-bottom: 195px;
  }
}
