// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  $component-name: &;
  min-height: 100vh;

  overflow: hidden;
  background: #000 url('../images/bg-page-header.jpg') no-repeat top center;
  background-size: cover;
  color: #fff;

  &--inner {

    min-height: auto;
    background-image: url('../images/inner-page-header__background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    #{$component-name}__inner {
      min-height: auto;
      padding-bottom: 110px;
    }

    #{$component-name}__content {
      margin-bottom: 0;
    }

    #{$component-name}__title {
      margin-bottom: 0;
    }
  }

  &--not-found {
    color: #000;
    background: none;

    #{$component-name}__inner {
      display: block;
    }

    #{$component-name}__top {
      position: absolute;
      right: 0;
      left: 0;
      padding-bottom: 0;
    }

    #{$component-name}__tel {
      color: rgba(0, 0, 0, 0.5);
    }

    #{$component-name}__content {
      max-width: 100%;
    }
  }
}

.page-header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.page-header__sidebar {
  @include adaptiv-value(width, 200, 64);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 101;
  left: 0;
  min-height: 100vh;
  border-right: 1px solid #8b979a;
  background-color: #000;
}

.page-header__sidebar::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 196px;
  background-color: $color-main;
}

.page-header__top {
  display: flex;
  justify-content: flex-end;
  padding: 63px 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 19px;
  line-height: 40px;
}

.page-header__title {
  @include adaptiv-value(font-size, 72, 40);

  @include media-breakpoint-down(md) {

    & br:last-child {
      display: block;
    }
  }

  margin-bottom: 43px;

  & br:last-child {
    display: none;
  }
}

.page-header__content {

  @include media-breakpoint-down(md) {
    margin-bottom: 0;

    p {
      font-size: 14px;
    }
  }

  max-width: 734px;
  margin-bottom: 40px;
}

.page-header__title span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.page-header__text {
  margin-bottom: 30px;
  font-family: '"Roboto"', sans-serif;
  font-weight: 400;
  color: #a8a8a8;
}

.page-header__description {

  @include media-breakpoint-down(xl) {
    margin-bottom: 70px;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 0;
  }

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.page-header__bottom {

  @include media-breakpoint-down(xl) {
    display: block;
  }

  display: flex;
  column-gap: 30px;
}

.page-header__bottom-left-wrap {

  @include media-breakpoint-down(xl) {
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    height: 175px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 50%;
}

.page-header__bottom-left-wrap::after {
  content: '';
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 50%;
  background-color: #fff;
  opacity: 0.13;
}

.page-header__bottom-right-wrap {
  @include adaptiv-value(padding-top, 50, 30);
  @include adaptiv-value(padding-left, 97, 40);
  @include adaptiv-value(padding-bottom, 14, 40);

  @include media-breakpoint-down(xl) {
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }

  position: relative;
  width: 50%;
  color: #000;
  background-color: #fff;

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100vw;
    background-color: #fff;
  }
}

.page-header__services-link {
  @include adaptiv-value(font-size, 19, 15);

  border-left: 1px solid $color-main;
  padding-left: 20px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-main;
  transition: border-left-color 0.3s;
}

.page-header__services-link:hover {
  border-left-color: #d9b94e;
  color: #d9b94e;
  text-decoration: none;
}

.page-header__scroll-down {

  @include media-breakpoint-down(xl) {
    position: relative;
    top: 120px;
    right: calc(100% + 40px);
  }

  @include media-breakpoint-down(md) {
    position: static;
    transform: rotate(180deg) translateY(10px);
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(180deg) translateY(-30%);
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.page-header__scroll-down-text {
  margin: 10px 0;
  writing-mode: tb-rl;
}

.page-header__scroll-down-icon {
  transform: rotate(180deg);
}
