.advantages-slider {

  @include media-breakpoint-down(xxl) {
    padding-left: 85px;
    padding-right: 55px;
  }

  @include media-breakpoint-down(xl) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include media-breakpoint-down(lg) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 150px;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
    padding-bottom: 150px;
  }

  position: relative;
  padding-top: 180px;
  padding-bottom: 180px;
  padding-left: 240px;
  padding-right: 240px;
  background-color: #fff;
  background-image: url('../images/bg-advantages-section.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.advantages-slider .swiper-button-prev {

  @include media-breakpoint-down(xxl) {
    left: 60px;
  }

  @include media-breakpoint-down(xl) {
    left: 40px;
  }

  @include media-breakpoint-down(lg) {
    left: 50px;
    top: 555px;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }

  left: 178px;
}

.advantages-slider .swiper-button-next {

  @include media-breakpoint-down(xxl) {
    right:  60px;
  }

  @include media-breakpoint-down(xl) {
    right: 40px;
  }

  @include media-breakpoint-down(lg) {
    right: 50px;
    top: 555px;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }

  right: 86px;
}

.advantages-slider .swiper-button-prev::after,
.advantages-slider .swiper-button-next::after {
  color: #000;
  font-size: inherit;
}

.advantages-slider .swiper-pagination {

  @include media-breakpoint-down(lg) {
    display: block;
    top: 540px;
  }

  @include media-breakpoint-down(sm) {
    top: 430px;
  }

  display: none;
}

.advantages-slider .swiper-pagination-bullet {

  @include media-breakpoint-down(md) {
    width: 50px;
  }

  @include media-breakpoint-down(sm) {
    width: 40px;
  }

  width: 74px;
  height: 3px;
  border-radius: 0;
  background-color: #000;
}

.advantages-slider__item {

  @include media-breakpoint-down(xl) {
    display: block;
  }

  display: flex;
  align-items: center;
}

.advantages-slider__item-num {
  margin-right: 30px;
  font-size: 190px;
  line-height: 1.1;
  -webkit-text-stroke: #000 1px;
  color: transparent;
}

.advantages-slider__item-title {

  @include media-breakpoint-down(lg) {
    font-size: 45px;
  }

  @include media-breakpoint-down(md) {
    font-size: 33px;
    line-height: 48px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 20px;
    line-height: 28px;
  }

  font-size: 60px;
  line-height: 63px;
}
