.team-slider {

  &__btns-wrap {

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      column-gap: 0;
      justify-content: space-between;
      margin-top: 30px;
    }

    display: flex;
    column-gap: 30px;
    margin-bottom: 85px;

    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      width: 54px;
      height: 20px;
      margin-top: 0;
      font-size: 0;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      width: 100%;
      height: 9px;
      font-size: 0;
      background-repeat: no-repeat;
      background-position: center;
    }

    .swiper-button-prev::after {
      background-image: url("data:image/svg+xml,%3Csvg width='54' height='9' viewBox='0 0 54 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54 8.5L2 8.5L9.5 1' stroke='black'/%3E%3C/svg%3E%0A");
    }

    .swiper-button-next::after {
      position: relative;
      bottom: -6px;
      background-image: url("data:image/svg+xml,%3Csvg width='54' height='9' viewBox='0 0 54 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1L52 1L44.5 8.5' stroke='black'/%3E%3C/svg%3E%0A");
    }
  }

  &__item {

    @include media-breakpoint-down(xl) {
      column-gap: 68px;
    }

    @include media-breakpoint-down(lg) {
      column-gap: 40px;
    }

    @include media-breakpoint-down(md) {
      display: block;
    }

    display: flex;
    column-gap: 124px;
    width: 100%;
    max-width: 1200px;

    &-info-wrap {

      @include media-breakpoint-down(lg) {
        width: 350px;
      }

      @include media-breakpoint-down(md) {
        margin-top: 50px;
        width: 100%;
      }


      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      justify-content: flex-end;
      position: relative;
      width: 407px;
      height: 610px;

      img {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: none;
        height: 100%;
        object-fit: cover;
      }
    }

    &-info-content {

      @include media-breakpoint-down(sm) {
        padding: 25px;
      }

      position: relative;
      z-index: 1;
      padding: 35px;
      color: #fff;
      background-color: rgba(#000, 0.8);

      b {

        @include media-breakpoint-down(md) {
          font-size: 25px;
          margin-bottom: 10px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 20px;
        }

        display: block;
        margin-bottom: 20px;
        font-size: 38px;
      }
    }

    &-info-position {

      @include media-breakpoint-down(md) {
        font-size: 15px;
      }

      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 25px;
    }

    &-descr-wrap {

      @include media-breakpoint-down(xl) {
        padding-top: 250px;
      }

      @include media-breakpoint-down(lg) {
        padding-top: 210px;
      }

      @include media-breakpoint-down(md) {
        padding-top: 50px;
      }

      padding-top: 335px;

      p {

        @include adaptiv-value(font-size, 23, 16);

        @include media-breakpoint-down(xl) {
          line-height: 35px;
        }

        line-height: 40px;
      }
    }
  }
}
