.menu-categories {

  $component-name: &;

  @include media-breakpoint-down(xxl) {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(xl) {
    display: block;
    margin-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    line-height: 24px;
  }

  display: flex;
  justify-content: space-between;

  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 75px;
  text-align: center;

  .menu-categories__link {

    @include media-breakpoint-down(xl) {
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px 0;
    }
  }

  .menu-categories__sublist-item-link {

    @include media-breakpoint-down(xl) {
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px 0;
    }
  }

  .menu-categories__sublist-item {
    margin-bottom: -1px;
  }

  &__item {

    @include media-breakpoint-down(xxl) {
      padding-bottom: 20px;
    }

    padding-bottom: 125px;
  }

  &__item--active {

    .menu-categories__link {
      pointer-events: none;
      cursor: default;
    }

    #{$component-name}__link {
      position: relative;
      color: #fff;
      background-color: $color-main;


      &::after {

        @include media-breakpoint-down(xxl) {
          display: none;
        }

        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 1px;
        height: 50px;
        transform: translateX(-50%);
        background-color: $color-main;
      }
    }

    #{$component-name}__sublist {

      @include media-breakpoint-down(xxl) {
        display: none;
        position: static;


        a {
          border: 1px solid #877b50;
          color: #fff;
          background-color: #998a57;
        }
      }

      display: flex;
      justify-content: space-between;
    }

    .menu-categories__sublist--active {

      @include media-breakpoint-down(xxl) {
        display: block;
      }
    }
  }

  &__sublist {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &--centered {
    justify-content: center;
    column-gap: 50px;
  }

  a {

    @include media-breakpoint-down(xxl) {
      border-radius: 0;
    }

    display: inline-block;
    width: 300px;
    border-radius: 1000px;
    background-color: #f3f3f3;

    &:hover {
      background-color: $color-main;
      text-decoration: none;
      color: #fff;
    }
  }
}
