.menu-categories {
  $component-name: &;
  display: flex;
  justify-content: space-between;

  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 75px;
  text-align: center;

  &__item {
    padding-bottom: 125px;
  }

  &__item--active {

    #{$component-name}__link {
      position: relative;
      color: #fff;
      background-color: $color-main;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 1px;
        height: 50px;
        transform: translateX(-50%);
        background-color: $color-main;
      }
    }

    #{$component-name}__sublist {
      display: flex;
      justify-content: space-between;
    }
  }

  a {
    display: inline-block;
    width: 300px;
    border-radius: 1000px;
    background-color: #f3f3f3;

    &:hover {
      background-color: $color-main;
      text-decoration: none;
      color: #fff;
    }
  }

  &__sublist {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    a {
      border: 1px solid $color-main;
      color: $color-main;
      background-color: #fff;
    }
  }

  &--centered {
    justify-content: center;
    column-gap: 50px;
  }
}
