.service-creation-steps-section {
  background-image: url('../images/service-creation-steps-section__bg.svg');
  background-repeat: no-repeat;
  background-position: right 130px center;

  &__title {
    margin-bottom: 200px;
    font-size: 65px;
    line-height: 65px;
  }

  &__list-wrap {
    display: flex;
    column-gap: 75px;
    margin-bottom: 130px;
  }

  &__order-btn-wrap {
    text-align: center;

    button {
      width: 100%;
      max-width: 418px;
    }
  }
}
