.services-section {
  color: #fff;
  background-color: #000;
  background-image: url('../images/bg-services-section.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 280px 190px;
}

.services-section__inner {

  @include media-breakpoint-down(lg) {
    display: block;
    position: relative;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-section__title {

  @include media-breakpoint-down(lg) {
    margin-bottom: 97px;
  }

  margin-bottom: 287px;
}

.services-section__right-wrap {

  @include media-breakpoint-down(lg) {
    padding-right: 0;
    padding-left: 0;
  }

  padding-right: 40px;
  padding-left: 40px;
}

.services-section__list {

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 97px;
  }

  @include adaptiv-value(font-size, 60, 25, $screen-lg);
}

.services-section__list-item {
  margin-bottom: 18px;
}

.services-section__list-item:last-child {
  margin-bottom: 0;
}

.services-section__list-item-link {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  transition: color 0.3s ease-in-out;
}

.services-section__list-item-link:hover {
  color: $color-main;
  -webkit-text-stroke-color: transparent;
  text-decoration: none;
}

.services-section__order-button {

  @include media-breakpoint-down(sm) {
    display: none;
  }
}
