.service-description-section {

  &__inner {
    display: flex;
    align-items: flex-end;
    column-gap: 160px;
  }

  &__left-wrap {
    max-width: 630px;

    p {

      @include adaptiv-value(font-size, 23, 16);
      @include adaptiv-value(line-height, 40, 30);
      margin-bottom: 50px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    }
  }

  &__title {

    @include media-breakpoint-down(xxl) {
      margin-bottom: 100px;
    }

    @include media-breakpoint-down(xxl) {
      margin-bottom: 50px;
    }

    margin-bottom: 221px;
  }

  &__right-wrap {

    @include media-breakpoint-down(xxl) {
      margin-bottom: 50px;
    }

    flex-shrink: 0;
    position: relative;

    img {
      position: relative;
      z-index: 1;
    }

    &::after {

      @include media-breakpoint-down(xxl) {
        top: -285px;
        left: 160px;
      }

      @include media-breakpoint-down(lg) {
        top: -155px;
        left: 140px;
        width: 240px;
        height: 200px;
      }

      @include media-breakpoint-down(sm) {
        top: -110px;
        left: 65px;
        width: 160px;
        height: 140px;
      }

      content: '';
      position: absolute;
      top: -205px;
      left: -204px;
      width: 470px;
      height: 470px;
      background-image: svg-load('images/service-description-section__right-bg-triangle.svg', width=100%, height=100%);
      background-repeat: no-repeat;
    }
  }
}
