.advantages-slider {
  position: relative;
  padding-top: 180px;
  padding-bottom: 180px;
  padding-left: 240px;
  padding-right: 240px;
  background-color: #fff;
  background-image: url('../images/bg-advantages-section.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.advantages-slider .swiper-button-prev {
  left: 178px;
}

.advantages-slider .swiper-button-next {
  right: 86px;
}

.advantages-slider .swiper-button-prev::after,
.advantages-slider .swiper-button-next::after {
  color: #000;
  font-size: inherit;
}

.advantages-slider__item {
  display: flex;
  align-items: center;
}

.advantages-slider__item-num {
  margin-right: 30px;
  font-size: 190px;
  line-height: 1.1;
  -webkit-text-stroke: #000 1px;
  color: transparent;
}

.advantages-slider__item-title {
  font-size: 60px;
  line-height: 63px;
}
