.feedback-form__title {
  margin-bottom: 45px;
  font-size: 35px;
  line-height: 35px;
}

.feedback-form__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: 30px;
}

.feedback-form__left-wrap,
.feedback-form__right-wrap {
  width: 50%;
}

.feedback-form__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  font-size: 19px;
  line-height: 40px;
}

.feedback-form__footer-info-wrap,
.feedback-form__footer-submit-btn-wrap {
  width: 50%;
}

.feedback-form__footer-info-wrap {
  display: flex;
  justify-content: space-between;
}

.feedback-form__footer-email {
  text-decoration: underline;
  color: #a89860;
}

.feedback-form__footer-submit-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid transparent;
  padding: 17px 30px;
  text-transform: uppercase;
  color: #fff;
  background: #a89860;
  cursor: pointer;
  border-radius: 1000px;
}

.feedback-form__footer-submit-btn:hover {
  color: var(--accent-color);
  background-color: #fff;
  border-color: var(--accent-color);
}

.feedback-form__footer-submit-btn:hover svg {
  fill: var(--accent-color);
}
