.client-list-section {
  $component-name: &;

  // @include media-breakpoint-down(xxl) {
  //   grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  // }

  @include media-breakpoint-down(xl) {
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
  }

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-auto-rows: 220px;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }

  display: grid;
  grid-auto-rows: 400px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 2px;
  border-top: 2px solid #dcdcdc;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #f6f6f6;
    box-shadow: 20px 24px 40px rgba(0, 0, 0, 0.2);

    &:hover {

      #{$component-name}__item-info {

        transform: translateY(0%);
      }
    }
  }

  &__item-info {

    @include media-breakpoint-down(md) {
      padding: 20px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 70px;
    transform: translateY(100%);
    transition: transform 0.2s;
    color: #fff;
    background-color: $color-main;
  }

  &__item-info-title {

    @include media-breakpoint-down(sm) {
      line-height: 50px;
    }

    @include adaptiv-value(font-size, 43, 35);

    line-height: 75px;
  }

  &__item-info-descr {

    @include media-breakpoint-down(md) {
      line-height: 20px;
    }

    @include adaptiv-value(font-size, 23, 16);

    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 28px;
  }
}
