// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.button {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid transparent;
  padding: 13px 35px;
  transition: background-color 0.3s;
  border-radius: 1000px;
  color: #000;
  font-size: 19px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0.02em;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  line-height: 40px;
  background: #fff;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #fff;
  text-decoration: none;
  background-color: $color-main;
}

.button--white {
  color: #000;
  background-color: #fff;
}

.button--dark {
  color: #fff;
  background-color: #000;
}

.button--accent {
  color: #fff;
  background-color: $color-main;
}

.button--accent:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid $color-main;
}
