/* stylelint-disable */

:root {
  --accent-color: #a89861;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/gilroy/gilroy-light.woff') format('woff'),
    url('../fonts/gilroy/gilroy-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/gilroy/gilroy-extrabold.woff') format('woff'),
    url('../fonts/gilroy/gilroy-extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;
}

.page__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 200px;
}

.page__content {
  flex-grow: 1;
}

.page__footer-wrap {
  flex-shrink: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex; /* Исправляем баг в IE для min-height and flexbox (flex-direction:column) */
  flex-direction: column; /* и прижимаем footer в IE 10-11 */
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: 'Gilroy', Arial, Tahoma, sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-align: left;
  line-height: 23px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex='-1']:focus {
  outline: none !important;
}

/* Коррекция для кликабельных элементов с указанной ролью в iOS */
[role='button'] {
  cursor: pointer;
}

/* Мы любим Сафари (на самом деле, нет). */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; /* Стилевая коррекция 300ms задержки (для поддерживающих браузеров) */
  margin: 0; /* Убираем margin в Firefox и Safari */
}

button,
input {
  overflow: visible; /* Покажем торчащее в Edge */
  text-transform: none; /* Уберём наследование text transform в Firefox */
  font-weight: inherit;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* Коррекция проблем стилизации для Safari */
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox; /* Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266) */
}

textarea {
  overflow: auto; /* Удаление верт. скролла в IE. */
  resize: vertical; /* Правильное изменение размеров */
}

svg {
  fill: currentColor;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  background-color: transparent;
  transition: color 0.3s;
}

a:hover,
a:focus {
  color: #a89860;
  text-decoration: underline;
}

@media (min-width: 1700px) {
  /* На больших экранах телефоны-ссылки делаем обычным текстом */
  a[href^='tel:'] {
    white-space: nowrap;
    pointer-events: none;
    text-decoration: inherit;
    color: inherit;
  }
}

hr {
  box-sizing: content-box; /* Проблема Firefox */
  height: 0; /* Проблема Firefox */
  overflow: visible; /* Проблема Edge и IE */
  border: 0;
  border-top: 1px solid var(--accent-color);
}

button {
  display: inline-block;
  margin: 0;
  border: none;
  padding: 0;
  transition: color 0.3s, background 0.3s;
  font-family: inherit;
  background-color: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  /* margin-bottom: 15px; */

  /* padding-left: 1.5em; */
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.2;
  color: currentColor;
}

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;

  /* margin-bottom: 15px; */
}

p {
  /* http://clagnut.com/blog/2395 */
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

b,
strong {
  font-weight: bolder;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.container {
  width: 100%;
  max-width: 1760px;
  margin: 0 auto;
  padding-left: 174px;
  padding-right: 30px;
}

.container--standart {
  padding-left: 15px;
}

.page-section {
  padding-top: 207px;
  padding-bottom: 157px;
}

.section-title {
  font-size: 100px;
  line-height: 100px;
}

.no-scroll {
  overflow: hidden;
}
