// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  $component-name: &;

  min-height: 100vh;
  background: #000 url('../images/bg-page-header.jpg') no-repeat top center;
  background-size: cover;
  color: #fff;

  &--inner {
    min-height: auto;
    background-image: url('../images/inner-page-header__background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    #{$component-name}__inner {
      min-height: auto;
      padding-bottom: 110px;
    }

    #{$component-name}__content {
      margin-bottom: 0;
    }

    #{$component-name}__title {
      margin-bottom: 0;
    }
  }
}

.page-header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.page-header__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 101;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  border-right: 1px solid #8b979a;
  background-color: #000;

  @media (min-width: $screen-sm) and (max-width: 1350px) {
    width: 124px;
  }

  @media (max-width: $screen-sm) {
    width: 65px;
  }
}

.page-header__sidebar::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 196px;
  background-color: var(--accent-color);
}

.page-header__top {
  display: flex;
  justify-content: flex-end;
  padding: 63px 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 19px;
  line-height: 40px;

  @media (max-width: 1115px) {
    padding: 30px 0;
  }
}

.page-header__title {
  margin-bottom: 43px;
  font-size: 72px;
  line-height: 75px;

  @media (min-width: 680px) and (max-width: $screen-md) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $screen-sm) and (max-width: 680px) {
    font-size: 50px;
    line-height: 50px;
  }

  @media (min-width: 375px) and (max-width: $screen-sm) {
    font-size: 40px;
    line-height: 40px;
  }

  @media (max-width: 375px) {
    font-size: 35px;
    line-height: 40px;
  }
}

.page-header__content {
  max-width: 721px;
  margin-bottom: 40px;
}

.page-header__content span {
  font-family: '"Roboto"', sans-serif;
  font-weight: 300;
}

.page-header__text {
  margin-bottom: 30px;
  font-family: '"Roboto"', sans-serif;
  font-weight: 400;
  color: #a8a8a8;

  @media (max-width: $screen-md) {
    font-size: 14px;
    line-height: 21px;
  }
}

.page-header__description {
  font-family: '"Roboto"', sans-serif;
  font-weight: 400;

  @media (max-width: $screen-md) {
    font-size: 14px;
    line-height: 21px;
  }
}

.page-header__bottom {
  display: flex;
  column-gap: 30px;

  @media (max-width: $screen-lg) {
    flex-direction: column;
  }
}

.page-header__bottom-left-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 50%;

  @media (min-width: $screen-lg) and (max-width: 1210px) {
    width: 35%;
  }

  @media (max-width: $screen-lg) {
    display: block;
    width: 100%;
  }
}

.page-header__bottom-left-wrap::after {
  content: '';
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 50%;
  background-color: #fff;
  opacity: 0.13;

  @media (max-width: $screen-lg) {
    top: 19%;
    height: 90%;
  }
}

.page-header__bottom-right-wrap {
  position: relative;
  width: 50%;
  padding-top: 50px;
  padding-left: 97px;
  padding-bottom: 14px;
  color: #000;
  background-color: #fff;

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100vw;
    background-color: #fff;
  }

  @media (max-width: 1520px) {
    padding-top: 30px;
    padding-left: 50px;
  }

  @media (max-width: 1390px) {
    padding-top: 30px;
    padding-left: 30px;
  }

  @media (min-width: $screen-lg) and (max-width: 1210px) {
    width: 65%;
  }

  @media (min-width: 680px) and (max-width: $screen-lg) {
    width: 100%;
  }

  @media (max-width: 680px) {
    display: none;
  }
}

.page-header__services-link {
  border-left: 1px solid var(--accent-color);
  padding-left: 20px;
  font-size: 19px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--accent-color);
  transition: border-left-color 0.3s;

  @media (max-width: 1115px) {
    line-height: 25px;
  }

  @media (max-width: 375px) {
    font-size: 14px;
  }
}

.page-header__services-link:hover {
  border-left-color: #d9b94e;
  color: #d9b94e;
  text-decoration: none;
}

.page-header__scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(180deg) translateY(-30%);
  color: rgba(255, 255, 255, 0.5);
  font-family: '"Roboto"', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.05em;
  cursor: pointer;

  @media (min-width: 680px) and (max-width: $screen-lg) {
    position: relative;
    top: 140px;
    right: 40px;
    align-items: end;
  }

  @media (min-width: 320px) and (max-width: 680px) {
    position: relative;
    top: -100px;
    bottom: 0;
    right: 0;
    align-items: start;
  }

  @media (max-width: 320px) {
    position: relative;
    top: -62px;
    bottom: 0;
    right: 0;
    left: 28px;
    align-items: start;
  }
}

.page-header__scroll-down-text {
  margin: 10px 0;
  writing-mode: tb-rl;
}

.page-header__scroll-down-icon {
  transform: rotate(180deg);

  @media (min-width: 680px) and (max-width: $screen-lg) {
    position: absolute;
    bottom: 105px;
    right: 12px;
  }

  @media (max-width: 680px) {
    position: absolute;
    bottom: 105px;
    left: 10px;
  }
}
